.faq {
  &__acc {
    padding: 20px 0 30px;
    border-radius: 8px;
    border: 1px solid rgba(255, 255, 255, 0.2);

    cursor: pointer;
    transition: border-color 0.15s linear, background 0.15s linear;

    &:not(:last-child) {
      margin-bottom: 20px;
    }

    @media (any-hover: hover) {
      &:hover {
        border-color: transparent;
        background: rgba(255, 255, 255, 0.06);
      }
    }

    &-active {
      border-color: transparent;
      background: rgba(255, 255, 255, 0.06);
      & .faq__acc {
        &-control {
          margin-bottom: 20px;
          color: var(--gold);
        }
        &-ico {
          transform: rotate(-45deg);
        }

        &-content {
          opacity: 1;
        }
      }
    }
  }

  &__acc-control {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 15px;
    padding: 0 36px;
    color: inherit;

    transition: color 0.15s linear, margin-bottom 0.15s linear;
  }

  &__acc-title {
    font-size: 26px;
    font-weight: 500;
    line-height: 120%;
    transition: color 0.15s linear;
    text-align: left;
  }

  &__acc-ico {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    transition: color 0.15s linear, transform 0.15s linear;
  }

  &__acc-content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    padding: 0 60px 0 36px;
    will-change: max-height;
    transition: all 0.3s ease-out;
    box-sizing: content-box;

    font-size: 14px;
    font-weight: 400;
    line-height: 160%;
  }
}

@media (max-width: 1100px) {
  .faq {
    &__acc {
      padding: 15px 0;

      &-active {
        & .faq__acc {
          &-control {
            margin-bottom: 10px;
          }
        }
      }

      &-control,
      &-content {
        padding: 0 15px;
      }

      &-title {
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 120%;
      }

      &-ico {
        width: 28px;
        height: 28px;
      }

      &-content {
        font-size: 12px;
      }
    }
  }
}
