<section class="employees section section-other">
  <div class="container">
    <div class="employees__inner section-other__inner">
      <svg class="logo-bg section-other__logo fill">
        <use xlink:href="img/sprite.svg#logo"></use>
      </svg>
      <div class="employees__user-outer">
        <h3 class="employees__user-title employees__title suptitle-section">
          Сотрудники:
        </h3>
        <ul class="employees__user-list">
          <li class="employees__user" data-emp="1">
            <img
              class="employees__user-img"
              src="img/employee.png"
              width="50"
              height="50"
              alt="employee"
            />
            <div class="employees__user-info">
              <h6 class="employees__user-name">Какимов Нурбол</h6>
              <p class="employees__user-pos">SEO</p>
            </div>
          </li>
          <li class="employees__user" data-emp="2">
            <img
              class="employees__user-img"
              src="img/employee.png"
              width="50"
              height="50"
              alt="employee"
            />
            <div class="employees__user-info">
              <h6 class="employees__user-name">Какимов Нурбол2</h6>
              <p class="employees__user-pos">SEO</p>
            </div>
          </li>
          <li class="employees__user" data-emp="3">
            <img
              class="employees__user-img"
              src="img/employee.png"
              width="50"
              height="50"
              alt="employee"
            />
            <div class="employees__user-info">
              <h6 class="employees__user-name">Какимов Нурбол3</h6>
              <p class="employees__user-pos">SEO</p>
            </div>
          </li>
        </ul>
      </div>

      <div class="employees__info-outer">
        <div class="employees__table-outer">
          <h3 class="employees__info-title employees__title suptitle-section">
            Успеваемость сотрудника:
          </h3>
          <table class="employees__table">
            <thead class="employees__table-head">
              <tr class="employees__table-row employees__table-head-row">
                <td
                  class="employees__table-head-name employees__table-name employees__table-head-item"
                >
                  Задача
                </td>
                <td
                  class="employees__table-head-type employees__table-type employees__table-head-item"
                >
                  Цель
                </td>
              </tr>
            </thead>
            <tbody class="employees__choise-body">
                <tr class="employees__table-row employees__choise">
                    <td>Выберите подходящего сотрудника. <br /> Если сотрудник уже выбран, но таблица не
                        появилась, то обратитесь к админу для проверки корректности введенных данных
                    </td>
                </tr>
            </tbody>

            <tbody class="employees__table-body visually-hidden" data-table="1">
              <tr class="employees__table-row">
                <td
                  class="employees__table-name employees__table-name employees__table-item"
                >
                  1
                </td>
                <td
                  class="employees__table-type employees__table-type employees__table-item"
                >
                  <label class="custom-checkbox">
                    <span class="custom-checkbox__placeholder"> Обзвонить</span>
                    <input class="custom-checkbox__field" type="checkbox" />
                    <span class="custom-checkbox__content">
                      <svg
                        class="custom-checkbox__content-ico ico-12 stroke"
                        xmlns="http://www.w3.org/2000/svg"
                        width="12"
                        height="9"
                        viewBox="0 0 12 9"
                        fill="none"
                      >
                        <path
                          d="M10.3333 1L3.91667 7.41667L1 4.5"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </label>
                </td>
              </tr>
            </tbody>
            <tbody class="employees__table-body visually-hidden" data-table="2">
              <tr class="employees__table-row">
                <td
                  class="employees__table-name employees__table-name employees__table-item"
                >
                  2
                </td>
                <td
                  class="employees__table-type employees__table-type employees__table-item"
                >
                  <label class="custom-checkbox">
                    <span class="custom-checkbox__placeholder"> Обзвонить</span>
                    <input class="custom-checkbox__field" type="checkbox" />
                    <span class="custom-checkbox__content">
                      <svg
                        class="custom-checkbox__content-ico ico-12 stroke"
                        xmlns="http://www.w3.org/2000/svg"
                        width="12"
                        height="9"
                        viewBox="0 0 12 9"
                        fill="none"
                      >
                        <path
                          d="M10.3333 1L3.91667 7.41667L1 4.5"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </label>
                </td>
              </tr>
            </tbody>
            <tbody class="employees__table-body visually-hidden" data-table="">
              <tr class="employees__table-row">
                <td
                  class="employees__table-name employees__table-name employees__table-item"
                >
                  3
                </td>
                <td
                  class="employees__table-type employees__table-type employees__table-item"
                >
                  <label class="custom-checkbox">
                    <span class="custom-checkbox__placeholder"> хелло</span>
                    <input class="custom-checkbox__field" type="checkbox" />
                    <span class="custom-checkbox__content">
                      <svg
                        class="custom-checkbox__content-ico ico-12 stroke"
                        xmlns="http://www.w3.org/2000/svg"
                        width="12"
                        height="9"
                        viewBox="0 0 12 9"
                        fill="none"
                      >
                        <path
                          d="M10.3333 1L3.91667 7.41667L1 4.5"
                          stroke-width="2"
                          stroke-linecap="round"
                          stroke-linejoin="round"
                        />
                      </svg>
                    </span>
                  </label>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
<!--
        <div class="employees__table-outer">
          <h3 class="employees__info-title employees__title suptitle-section">
            Статистика за месяц:
          </h3>
          <table class="employees__table employees__table-statistic">
            <thead class="employees__table-head">
              <tr class="employees__table-row employees__table-head-row">
                <td
                  class="employees__table-head-rating employees__table-rating employees__table-head-item"
                >
                  Рейтинг
                </td>
                <td
                  class="employees__table-head-emp employees__table-emp employees__table-head-item"
                >
                  Сотрудник
                </td>
                <td
                  class="employees__table-head-result employees__table-result employees__table-head-item"
                >
                  Результат
                </td>
              </tr>
            </thead>

            <tbody class="employees__table-body">
              <tr class="employees__table-row ">
                <td
                  class="employees__table-rating employees__table-rating employees__table-item"
                >
                </td>
                <td
                  class="employees__table-emp employees__table-emp employees__table-item"
                >
                  Сотрудник
                </td>
                <td
                  class="employees__table-result employees__table-result employees__table-item"
                >
                  100500 ₸
                </td>
              </tr>
              <tr class="employees__table-row ">
                <td
                  class="employees__table-rating employees__table-rating employees__table-item"
                >
                </td>
                <td
                  class="employees__table-emp employees__table-emp employees__table-item"
                >
                  Сотрудник
                </td>
                <td
                  class="employees__table-result employees__table-result employees__table-item"
                >
                  100500 ₸
                </td>
              </tr>
              <tr class="employees__table-row ">
                <td
                  class="employees__table-rating employees__table-rating employees__table-item"
                >
                </td>
                <td
                  class="employees__table-emp employees__table-emp employees__table-item"
                >
                  Сотрудник
                </td>
                <td
                  class="employees__table-result employees__table-result employees__table-item"
                >
                  100500 ₸
                </td>
              </tr>
              <tr class="employees__table-row ">
                <td
                  class="employees__table-rating employees__table-rating employees__table-item"
                >
                </td>
                <td
                  class="employees__table-emp employees__table-emp employees__table-item"
                >
                  Сотрудник
                </td>
                <td
                  class="employees__table-result employees__table-result employees__table-item"
                >
                  100500 ₸
                </td>
              </tr>
              <tr class="employees__table-row ">
                <td
                  class="employees__table-rating employees__table-rating employees__table-item"
                >
                </td>
                <td
                  class="employees__table-emp employees__table-emp employees__table-item"
                >
                  Сотрудник
                </td>
                <td
                  class="employees__table-result employees__table-result employees__table-item"
                >
                  100500 ₸
                </td>
              </tr>
              <tr class="employees__table-row ">
                <td
                  class="employees__table-rating employees__table-rating employees__table-item"
                >
                </td>
                <td
                  class="employees__table-emp employees__table-emp employees__table-item"
                >
                  Сотрудник
                </td>
                <td
                  class="employees__table-result employees__table-result employees__table-item"
                >
                  100500 ₸
                </td>
              </tr>
              <tr class="employees__table-row ">
                <td
                  class="employees__table-rating employees__table-rating employees__table-item"
                >
                </td>
                <td
                  class="employees__table-emp employees__table-emp employees__table-item"
                >
                  Сотрудник
                </td>
                <td
                  class="employees__table-result employees__table-result employees__table-item"
                >
                  100500 ₸
                </td>
              </tr>
              <tr class="employees__table-row ">
                <td
                  class="employees__table-rating employees__table-rating employees__table-item"
                >
                </td>
                <td
                  class="employees__table-emp employees__table-emp employees__table-item"
                >
                  Сотрудник
                </td>
                <td
                  class="employees__table-result employees__table-result employees__table-item"
                >
                  100500 ₸
                </td>
              </tr>
              <tr class="employees__table-row ">
                <td
                  class="employees__table-rating employees__table-rating employees__table-item"
                >
                </td>
                <td
                  class="employees__table-emp employees__table-emp employees__table-item"
                >
                  Сотрудник
                </td>
                <td
                  class="employees__table-result employees__table-result employees__table-item"
                >
                  100500 ₸
                </td>
              </tr>
              <tr class="employees__table-row ">
                <td
                  class="employees__table-rating employees__table-rating employees__table-item"
                >
                </td>
                <td
                  class="employees__table-emp employees__table-emp employees__table-item"
                >
                  Сотрудник
                </td>
                <td
                  class="employees__table-result employees__table-result employees__table-item"
                >
                  100500 ₸
                </td>
              </tr>
            </tbody>
          </table>
        </div> -->
      </div>
    </div>
  </div>
</section>
