<section class="faq section" id="faq">
  <div class="container">
    <div class="faq__inner section-inner">
      <div class="services__head section-head">
        <p class="services__suptitle suptitle-section">f.a.q</p>
        <h3 class="services__title title-section">Ответы на частые вопросы</h3>
      </div>
      <ul class="faq__acc-list">
        <li class="faq__acc">
          <button class="faq__acc-control" aria-expanded="false">
            <span class="faq__acc-title"
              >Частозадаваемый вопрос и снизу ответ на него</span
            ><svg
              class="faq__acc-ico ico-40 stroke"
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none"
            >
              <path
                d="M20 8.3335L20 31.6668"
                stroke-width="1.66667"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M8.33594 19.9998L31.6693 19.9998"
                stroke-width="1.66667"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <div class="faq__acc-content" aria-hidden="true">
            <p>
              Proper organization of files in Figma is more than just a good
              habit. It helps to make collaboration more efficient, optimize
              workflows and increase overall team productivity. In today's
              article, a Bolt designer shares his observations and tips on this
              subject. Proper organization of files in Figma is more than just a
              good habit. It helps to make collaboration more efficient,
              optimize workflows and increase overall team productivity. In
              today's article, a Bolt designer shares his observations and tips
              on this subject.
            </p>
          </div>
        </li>
        <li class="faq__acc">
          <button class="faq__acc-control" aria-expanded="false">
            <span class="faq__acc-title">Question 2</span
            ><svg
              class="faq__acc-ico ico-40 stroke"
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none"
            >
              <path
                d="M20 8.3335L20 31.6668"
                stroke-width="1.66667"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M8.33594 19.9998L31.6693 19.9998"
                stroke-width="1.66667"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <div class="faq__acc-content" aria-hidden="true">
            <p>
              Proper organization of files in Figma is more than just a good
              habit. It helps to make collaboration more efficient, optimize
              workflows and increase overall team productivity. In today's
              article, a Bolt designer shares his observations and tips on this
              subject. Proper organization of files in Figma is more than just a
              good habit. It helps to make collaboration more efficient,
              optimize workflows and increase overall team productivity. In
              today's article, a Bolt designer shares his observations and tips
              on this subject.
            </p>
          </div>
        </li>
        <li class="faq__acc">
          <button class="faq__acc-control" aria-expanded="false">
            <span class="faq__acc-title">Question 3</span
            ><svg
              class="faq__acc-ico ico-40 stroke"
              xmlns="http://www.w3.org/2000/svg"
              width="40"
              height="40"
              viewBox="0 0 40 40"
              fill="none"
            >
              <path
                d="M20 8.3335L20 31.6668"
                stroke-width="1.66667"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
              <path
                d="M8.33594 19.9998L31.6693 19.9998"
                stroke-width="1.66667"
                stroke-linecap="round"
                stroke-linejoin="round"
              />
            </svg>
          </button>
          <div class="faq__acc-content" aria-hidden="true">
            <p>
              Proper organization of files in Figma is more than just a good
              habit. It helps to make collaboration more efficient, optimize
              workflows and increase overall team productivity. In today's
              article, a Bolt designer shares his observations and tips on this
              subject. Proper organization of files in Figma is more than just a
              good habit. It helps to make collaboration more efficient,
              optimize workflows and increase overall team productivity. In
              today's article, a Bolt designer shares his observations and tips
              on this subject.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
