<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__top">
        <a class="footer__logo logo" href="index.html">
          <img
            class="logo__img"
            src="img/logo.svg"
            alt="bravo company logo"
            width="41"
            height="45.65"
          />
          <div class="logo__text">
            <span class="logo__text-title">Bravo Company</span>
            <span class="logo__text-subtitle">Юридическая фирма</span>
          </div>
        </a>
        <nav class="footer__list-outer">
          <ul class="footer__list">
            <li class="footer__list-item">
              <a href="#about" class="footer__list-link navlink link"> О нас </a>
            </li>
            <li class="footer__list-item">
              <a href="#services" class="footer__list-link navlink link"> Услуги </a>
            </li>
            <li class="footer__list-item">
              <a href="#faq" class="footer__list-link navlink link"> F.A.Q </a>
            </li>
          </ul>
        </nav>
        <a
          class="footer__wh btn btn-wh"
          href="https://wa.me/+77754555615"
          target="_blank"
        >
          <img
            src="img/wh.svg"
            alt="img"
            class="footer__wh-img"
            width="20"
            height="20"
          />
          <span class="footer__wh-num">+7 775 455 5615</span>
        </a>
      </div>
      <div class="footer__bot">
        <p class="footer__copyright">© 2023</p>
        <p class="footer__contacts">
          г. Астана <br />ул. Республики 21/7 <br />+7 775 455 5615
        </p>
      </div>
    </div>
  </div>
</footer>
