<section class="hero section first-screen">
  <div class="hero__bg">
    <span class="hero__bg-grad"></span>
    <img class="hero__bg-img" src="img/hero-bg.jpg" alt="hero background" />
  </div>
  <div class="container">
    <div class="hero__inner section__inner first-screen__inner">
      <div class="hero__info">
        <h1 class="hero__title title-main">
          <span class="color-gold">Простые решения</span><br />
          сложных вопросов
        </h1>
        <ul class="hero__list list">
          <li class="hero__list-item list__item">
            Более 5000 успешных снятие арестов
          </li>
          <li class="hero__list-item list__item">
            График гашения по банкам и МФО
          </li>
          <li class="hero__list-item list__item">
            Юридическое сопровождение до точки
          </li>
          <li class="hero__list-item list__item">
            Комплексное разрешение Долговых Ситуаций
          </li>
          <li class="hero__list-item list__item">
            Экспертное разбирательство с банками
          </li>
        </ul>
        <a
          class="hero__btn btn btn-accent"
          href="https://wa.me/+77754555615"
          target="_blank"
          >Получить консультацию</a
        >
      </div>
    </div>
  </div>
</section>
