<section class="services section" id="services">
  <div class="container">
    <div class="services__inner section-inner">
      <div class="services__head section-head">
        <p class="services__suptitle suptitle-section">Услуги</p>
        <h3 class="services__title title-section">
          Профессиональные<br />
          решения
        </h3>
      </div>
      <div class="services__card-outer">
        <div class="services__card">
          <h5 class="services__card-title">
            Прозрачные Сделки с Экспертным Юридическим Сопровождением
          </h5>
          <p class="services__card-text">
            Наша команда предоставляет вам уверенность в каждой сделке. Мы
            обеспечиваем юридическое сопровождение, гарантируя, что каждая
            сделка проводится честно, в соответствии с законом, и с максимальной
            защитой ваших интересов.
          </p>
        </div>
        <div class="services__card">
          <h5 class="services__card-title">
            Эффективное Управление Корпоративной Юридической Сферой
          </h5>
          <p class="services__card-text">
            Наши юристы специализируются в корпоративном праве, предоставляя
            полный спектр услуг для обеспечения стабильности вашего бизнеса. Мы
            разрабатываем корпоративные стратегии, решаем правовые вопросы и
            обеспечиваем юридическую защиту вашей компании.
          </p>
        </div>
        <div class="services__card">
          <h5 class="services__card-title">
            Защита Ваших Прав: Гражданское Право и Помощь Потребителям
          </h5>
          <p class="services__card-text">
            Наша фирма обеспечивает компетентную защиту в гражданских исках и
            оказывает помощь в решении юридических вопросов потребителей. Мы
            гарантируем вашу правовую безопасность и защиту в случае конфликтов.
          </p>
        </div>
        <div class="services__card">
          <h5 class="services__card-title">
            Осмотрительное Распоряжение Вашим Наследством
          </h5>
          <p class="services__card-text">
            Наши специалисты по наследственному праву помогут вам разработать
            завещание, обеспечивая соблюдение ваших желаний относительно
            наследства. Мы также предоставляем консультации и поддержку в
            урегулировании наследственных вопросов.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
